{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block hero %}
<section>
    <div class="container h-100 mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-10">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-4">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-4">Log In</p>

                                <form action="/auth/login/" method="POST" class="mx-1 mx-md-4">
                                    {% csrf_token %}
                                    
                                    <!-- Email Input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Your Email</label>
                                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required />
                                    </div>

                                    <!-- Password Input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="pass1">Password</label>
                                        <input type="password" id="pass1" name="pass1" class="form-control" placeholder="Enter your password" required />
                                    </div>

                                    <!-- Alert Messages -->
                                    {% if messages %}
                                    <div class="alert alert-warning" role="alert">
                                        {% for message in messages %}
                                            {{ message }}<br>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    
                                    <input type="submit" class="btn btn-danger btn-sm" value="Log In">
                                    <a href="/auth/signup/" class="link-opacity-10-hover m-3">Create Account</a>
                                  
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock hero %}
