{% extends "base.html" %}
{% block title %}
cart
{% endblock title %}
{% load cart %}
{% load custom_filter %}
{% block hero %}    {% endblock hero %}


{% block body %}
<section>
    <div class="container mt-5">
        <div class="border rounded p-4 m-4">
            <p class="display-4 ml-4">Your Cart</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">sno.</th>
                    <th scope="col">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">remove</th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img style="height: 80px" class="" src="{{product.image.url}}" alt=""></td>
                        <td>{{product.product_name}}</td>
                        <td>{{product.price|currency}}</td>
                        <td>{{product|cart_quantity:request.session.cart}}</td>
                        <td>{{product|price_total:request.session.cart|currency}}</td>
                      </tr>
                    {% endfor %}
                  
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-end" colspan="5">total</th>
                        <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                    </tr>
                </tfoot>
              </table>
              {% if products %}
              <div class="m-3 p-3" >
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-info text-dark border rounded col-lg-3  float-end">Check out</a>
            </div>
              
              {% endif %}
            
            <div class="text-bg-info">
              {% if messages %}
                {% for message in messages %}
                  {% if message.tags %} {{message}} <br> {% endif %}
                {% endfor %}
              {% endif %}
            </div>
        </div>
    </div>
    
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Check Out Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/checkout/" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" name="full_name" class="form-control" id="fullName" placeholder="Enter your full name" required>
          </div>
          <div class="mb-3">
            <label for="mobileNumber" class="form-label">Mobile Number</label>
            <input type="tel" name="phone" class="form-control" id="mobileNumber" placeholder="Enter your mobile number" required pattern="[0-9]{10}">
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Flat, House No., Building, Company, Apartment</label>
            <input type="text" name="address" class="form-control" id="address" placeholder="Enter your address" required>
          </div>
          <div class="mb-3">
            <label for="area" class="form-label">Area, Street, Sector, Village</label>
            <input type="text" name="area" class="form-control" id="area" placeholder="Enter area, street, etc." required>
          </div>
          <div class="mb-3">
            <label for="fullName" class="form-label">City</label>
            <input type="text" name="full_name" class="form-control" id="fullName" placeholder="Enter the city" required>
          </div>
          <div class="d-flex justify-content-end">
            <input type="submit" class="btn btn-outline-success btn-sm" value="Use this address">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


{% endblock body %}



