{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% load static %}
{% load cart %}
{% load custom_filter %}

{% block hero %}
<section id="hero">
  <div class="hero-container">
    <h3>Welcome to <strong>DUKAN</strong></h3>
    <h1>Heavy <strong>Discount</strong></h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugiat nemo repudiand</h2>
  </div>
</section>
{% endblock hero %}

{% block body %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="section-title">
      <h2>Welcome to Shop</h2>
      <h3>Check our <span>Product</span></h3>
    </div>

    {% for product_list, range, nSlides in allProds %}
      <h3 class="my-3 text-center text-success bg-light mt-4">{{ product_list.0.category }} FlashSale</h3>

      <div class="container">
        <div class="row">
          {% for product in product_list %}
          <div class="col-md-3 mt-3" id="{{ product.id }}">
            <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title" id="namepr{{ product.id }}"> {{ product.product_name }} </h5>
              <p class="card-text">{{ product.decs|slice:"0:53" }}...</p>
              <h6 class="card-title">
                Price: <span class="pricepr{{ product.id }}">{{ product.price|currency }}</span>
              </h6>

              <span id="divpr{{ product.id }}" class="divpr">
                {% comment %} {{ product | is_in_cart:request.session.cart }} {% endcomment %}
              </span>
            </div>

            <div class="cart-footer d-flex">
              {% if product|is_in_cart:request.session.cart %}
                <div class="d-flex">
                  <form action="/#{{ product.id }}" method="POST" class="d-flex">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="remove" value="True">
                    <input type="submit" value="-" class="btn btn-secondary btn-sm">
                  </form>

                  <div class="text-center mt-2 ms-1 me-1">
                    {{ product|cart_quantity:request.session.cart }} in cart
                  </div>

                  <form action="/#{{ product.id }}" method="POST" class="d-flex">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="submit" value="+" id="pr{{ product.id }}" class="btn btn-secondary btn-sm">
                  </form>
                </div>
              {% else %}
                <form action="/#{{ product.id }}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="product_id" value="{{ product.id }}">
                  <input type="submit" id="pr{{ product.id }}" class="btn btn-info btn-sm mt-0" value="Add to Cart">
                </form>
              {% endif %}

              <a href="#" class="btn btn-dark btn-sm ms-2">View</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section><!-- End Portfolio Section -->

<!-- JavaScript Libraries -->

{% endblock body %}
