{% extends "base.html" %}
{% block title %}
orders
{% endblock title %}
{% load cart %}
{% load custom_filter %}
{% block hero %}    {% endblock hero %}


{% block body %}
<section>
    <div class="container mt-5">
        <div class="border rounded p-4 m-4">
            <p class="display-4 ml-4">Your Orders</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">sno.</th>
                    <th scope="col">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img style="height: 80px" class="" src="{{order.product.image.url}}" alt=""></td>
                        <td>{{order.product.product_name}}</td>
                        <td>{{order.price|currency}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.quantity|multiply:order.price}}</td>
                        <td>{{order.date}}</td>
                        
                        {% if order.status %}
                        <td>Complated</td>
                        {% else %}
                          <td>pending</td>
                        {% endif %}
                        
                      </tr>
                    {% endfor %}
                </tbody>
              </table> 
          </div>
        </div>
</section>




{% endblock body %}



